<!DOCTYPE html>
<html>
  <head>
    <title>MemberOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <% if member_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
  <%= link_to "Log out", destroy_member_session_path, method: :delete, :class => 'link' %>
<% else %>
  <%= link_to "Sign up", new_member_registration_path, :class => 'link' %>
  <%= link_to "Log in", new_member_session_path, :class => 'link' %>
<% end %>
  </body>
</html>
